.news-record {
    overflow: hidden;
}

.news-record .photo svg, .news-record .photo img{
    padding: 10px;
}

.news .bd-placeholder-img.rounded {
    padding: 10px 10px 10px 0;
}

.news-record {
    position: relative;
}

.news-buttons {
    position: absolute;
    bottom: 10px;
    left: 220px;
}

.author {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #0069ff;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.aggregation-component {
    display: flex;
    margin: 5px 0 5px 0;
}

.aggregation-component div {
    margin-right: 5px;
}

#commentForm button{
    margin-top: 15px;
}